.background {
  background: #bbe4e9ec;
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 980px;
  height: 750px;
  font-family: "Courier New", Courier, monospace;
}
.btn {
  color: black;
  background: #79c2d0;
  border: #53a8b6;
  width: 400px;
}
.btn:hover {
  transition: 200ms ease-in-out;
  background: #53a8b6;
}
.citysearch {
  width: 400px;
  padding-bottom: 5px;
}
.searchheader {
  padding-top: 10px;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  font-weight: bolder;
}
.row {
  font-size: 20px;
  margin: 0 auto;
  padding: 0px;
}
.city {
  font-size: 30px;
  font-weight: bold;
}
.temperature {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: large;
  padding-left: 120px;
  text-decoration: underline;
  padding-left: 40px;
}
.card-header {
  background: #79c2d0;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0px;
}
li {
  display: inline-block;
}
.date {
  display: block;
}
.list-group-item {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #5585b5;
}
a:hover {
  color: #79c2d0;
}
.unit {
  vertical-align: top;
}
section {
  margin-top: 0px;
}
.weather-forecast {
  text-align: center;
}
